numpy<2
scipy
pandas
pyyaml
tqdm
matplotlib
scikit-learn
opencv-python-headless==4.8.1.78

# SYKE-PIC pinned to tested commit
git+https://github.com/sykefi/syke-pic@bccae3bf20d476b444c7082dce77499f3397ac82